#quick-links-sml {
	.drop-shadow(0, 0, 10px, 0.7);
	.fixed;
	top: 50%;
	.w(5);
	.bg-col(@wht);
	.border-radius(25px, 25px, 25px, 25px);
	.transition(0.5s, ease-out);
	z-index: 1000;
			
	button.dir-btn {
	.w(5);
	.h(5);
	.rounded(100%);	
	.border(@wht; 0.5);
		&:hover, &:active, &:focus {
		.bg-col-grayDk;
		.txt-col-wht;
		}
		
		i {
		.font-size(2);	
		}
	}
	
	button#quick-links-btn-show {
	.abs;
	.transition(0.5s, ease-out);
	.left(0);
	.bottom(-6);
	.no-border;
	//.border-radius(0, 0, 100%, 100%);	
	.rounded(100%);
	.w(5);
	.h(5);
	.bg-col(@wht);
	.pad-all(0);
	.drop-shadow(0, 0, 10px, 0.7);
		&:after {
		content: "\f060";	
		font-family: FontAwesome;	
		.block;
		.col(@gray);
		.line-h(5);
		.w(5);
		text-align: center;
		.font-size(2);
		}
	}
	
	&.open {
	.left(2);
		&.nav-open {
		.left(-8);	
		}	
	}
	
	&.closed {
	.left(-8);	
		&.nav-open {
		.left(-14);	
		}	
		button#quick-links-btn-show {
		bottom: 50%;
		.mag-bot(-2.5);
		.left(8);	
		.border-radius(100%, 100%, 0, 0);	
			&:after {
			content: "\f0c9";	
			}
		}
	}
	
	.ql-section-links {
	text-align: center;
		a {
		.rel;
		.block;
		.w(5);
		.h(5);
		.pad-top(1.5);
		
			span {
			.transition(0.2s, ease-out);
			.opacity(0);
			.h(3);	
			}	
			
			i {
			.block;
			.w(2);
			.h(2);	
			.bg-col-grayDk;
			.rounded(100%);	
			.mag-auto;
			}
			
			&:hover, &:active, &:focus {
				span.sr-only {
				.w(20);
				.h(3);
				.right(-20);
				.top(1);
				.bg-col-grayDk;
				.col(@wht);
				clip: inherit;
				.font-size(1.4);
				.line-h(3);
				.mag(0);
				overflow: visible;
				.rounded(4px);
				.opacity(1);
					&:after {
					content: "";
					.abs;
					.left(-2);
					top: 50%;
					.mag-top(-0.5);
					.w(2);
					.h(1);
					border-top: 5px solid @trans;
					border-bottom: 5px solid @trans;
					border-right: 20px solid @grayDk;
					}
				}
			}
			
			&.active {
			.bg-col-red;	
			pointer-events: none;
				i {
				.bg-col(@wht);	
				}
				span.sr-only {
				.none;	
				}	
			}
		}
	}
}